@charset "UTF-8";

@media screen and (max-width: 600px) {
    
    section#login {        
        display: block;
        width: 230px;
        height: 500px;
        margin: auto;
        border-radius: 20px;
        box-shadow: 1px 1px 5px 2px rgba(5, 5, 5, 0.288);
    }    
}

@media screen and (min-width: 600px){
    html {        
        background-image: linear-gradient(to top, #39827e, #5d2c80);
        background-attachment: fixed;
    }     
}

